.App{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  background-color: rgb(254, 251, 251);
  font-family: 'Times New Roman', Times, serif;
}
.Navbar{
  display: flex;
  background-color: black;
  height: 50px;
  width: 100vw;
  color: white;
}
.logoImg{
  height: 35px;
  width: 35px;
  margin-top: 7px;
  margin-left: 20px;
  border-radius: 50%;
}
.logoName{
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 10px;
}
